<div class="row">
  <div class=" col-12 col-md-8">
    {{listuser}}
  </div>

  <div class=" col-12 col-md-4">
    <input type="text" style="width: 300px" placeholder="search" (keyup)="search($event)">
  </div>

</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of list_user ;index as i">
    <th scope="row">{{i+1}}</th>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.address}}</td>
  </tr>

  </tbody>
</table>
